.song_card{
  width: 32.5vw;
  height:25vh;
  background-color: white;
  border-radius: 1.5vh;
  border: solid black 2px;
  float:left;
  margin-left: 1.25vh;
  margin-top: 1vh;
}
.album_card{
  width:25vw;
  height: 15vh;
  background-color: lightgrey;
  border-radius: 2.5vh;
  margin-left: 3vw;
  margin-top: 1vh;
}
.song_info_card{
  height: 6vh;
  width: 25vw;
  background-color: lightgrey;
  border-radius: 1.5vh;
  margin-left: 3vw;
  margin-top: 1vh;
}
